<!DOCTYPE html>
<html>
  <head>
    <title>FORMULARIOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <h1>BIENVENIDOS</h1>
    <ul>
      <li>
        <a href="/registro_usuario">Registro de Usuarios</a>
      </li>
      <li>
        <a href="/inscripcion_curso">Inscripción a Curso</a>
      </li>
      <li>
        <a href="/registro_producto">Registro de Productos</a>
      </li>
      <li>
        <a href="/registro_libro">Registro de Libros</a>
      </li>
    </ul>
  </body>
</html>