<!DOCTYPE html>
<html>
  <head>
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <h1>REGISTRO A USUARIO</h1>
    <form method="POST" action="/registro_usuario">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required /><br /><br />
      <label for="apellidos">Apellidos:</label>
      <input type="text" id="apellidos" name="apellidos" required /><br /><br />
      <label for="correo">Correo electrónico:</label>
      <input type="email" id="correo" name="correo" required /><br /><br />
      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" name="contrasena" required /><br /><br />
      <button type="submit"> <h4>Enviar</h4> </button>
    </form>
  </body>
</html>